* {
  margin: 0;
  padding: 0;
  text-decoration: solid;
}

.navbar {
  z-index: 123;
  position: fixed;
  width: 100%;
  height: 40px;
  padding: 20px;
}
.nav-list {
  width: 100%;
  margin: 54px;
  padding-inline-end: 30px;
  
}
.dropdown-menu{
  position: absolute;
  background-color: red;
  height: 20px;
  width: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 40px;

}

.nav-items {
  list-style: none;
}

.nav-items a {
  text-decoration: none;
  color: #fff;
  padding-right: 13px;
  padding-left: 13px;
  font-family: "TheMixSemiBold-Plain";
  font-size: 0.85rem !important;
  text-transform: uppercase;
  line-height: 1.2rem;
  letter-spacing: 1.5px;
}
.nav-items:first-child {
  margin-right: auto;
}

.logo-img {
  width: 80px;
  max-width: 100%;
}

.section-1 {
  height: 150vh;
}
.join-us {
  height: 100%;
  width: auto;
}

.arrow {
  height: 10px;
  width: auto;
  color: #fff;
}

.section-1 {
  position: relative;
}

.section1-text {
  position: absolute;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "TheMixBlack-Caps", sans-serif;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  top: 50%;
  width: auto;
}

.section-2 {
  height: 80px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.section-2 > .text-center {
  font-size: 32px;
  font-weight: 600;
  font-family: "TheMixBlack-Caps", sans-serif;
  line-height: 1.3em;
  color: #212121;
  font-weight: bold;
}

.section-3 {
  gap: 20px;
  padding-bottom: 20px;
}
.section-3 > .container {
  height: auto;
  margin-top: 10px;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: start;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.058823529411764705);
  border-radius: 10px;
  padding-top: 15px;

  box-sizing: border-box;
}

.section-3 > .container > .details > .text {
  padding: 32px;
  margin-top: 15px;
  text-align: center;
  color: var(--e-global-color-secondary);
  font-family: "TheMixSemiBold-Plain", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.details {
  max-width: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.details > img {
  max-width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .navbar #list {
    display: none;
  }
  .section-3 {
    flex-wrap: wrap;
    justify-content: center;
  }

  .section1-text {
    top: 30%;
    font-size: 30px;
  }
  .nav-items.dropdown:hover .dropdown-menu {
    display: none;
  }
}
